<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <link rel="stylesheet" th:href="@{/css/clubs-detail.css}">
    <title>Club's detail</title>
</head>

<body>
    <div layout:fragment="body" class="container">
        <div class="club-detail">
            <header class="club-header">
                <h2 th:text="${club.title}"></h2>
            </header>
            <section class="club-content">
                <div class="club-image">
                    <img th:src="@{/{image}(image=${club.photoUrl})}" alt="Club Image" class="club-image">
                </div>
                <div class="club-description">
                    <p th:text="${club.description}"></p>
                </div>
                <div class="club-dates">
                    <p>Created at: <span th:text="${#temporals.format(club.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></span>
                    </p>
                    <p>Last updated at: <span
                            th:text="${#temporals.format(club.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
                </div>
            </section>
        </div>
        <section class="event-section">
            <div class="search-bar">
                <form th:action="@{/clubs/{clubId}/events}" method="get">
                    <input type="text" name="query" placeholder="Search events">
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="events-list">
                <div class="card-container">
                    <div th:each="event : ${club.events}" class="card">
                        <div class="event-image">
                            <img th:src="@{/${event.photoUrl}}" alt="Event Image">
                        </div>
                        <div class="event-details">
                            <h3 th:text="${event.name}"></h3>
                            <p th:text="${event.content}"></p>
                            <p>Start Time: <span
                                    th:text="${#temporals.format(event.startTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                            </p>
                            <p>End Time: <span
                                    th:text="${#temporals.format(event.endTime, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
                        </div>
                    </div>
                </div>
                <div th:if="${#lists.isEmpty(club.events)}">
                    <p>No events found.</p>
                </div>
            </div>
        </section>

    </div>
</body>

</html>