<!DOCTYPE html>
<html
	lang="en"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}"
>
	<head>
		<title>Create new club</title>
	</head>

	<body>
		<div
			layout:fragment="body"
			class="max-w-md mx-auto bg-white shadow-lg rounded-lg mt-8 mb-9"
		>
			<h2
				class="text-center text-gray-700 mb-6 text-2xl font-bold tracking-wide capitalize border-b-2 border-gray-300 py-2"
			>
				Create a New Club
			</h2>
			<form
				class="px-4 pb-6"
				role="form"
				th:object="${club}"
				th:action="@{/clubs/new}"
				method="post"
			>
				<div class="mb-6">
					<label
						for="title"
						class="text-gray-700"
						>Title:</label
					>
					<input
						type="text"
						id="title"
						name="title"
						th:field="*{title}"
						class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500 placeholder-gray-400 placeholder-opacity-50"
						placeholder="Enter club title"
					/>
					<span
						class="text-red-500 text-xs top-full mt-1"
						th:if="${#fields.hasErrors('title')}"
						th:errors="*{title}"
					></span>
				</div>

				<div class="mb-6">
					<label
						for="photoUrl"
						class="text-gray-700"
						>Photo URL:</label
					>
					<input
						type="text"
						id="photoUrl"
						name="photoUrl"
						th:field="*{photoUrl}"
						class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500 placeholder-gray-400 placeholder-opacity-50"
						placeholder="Enter photo URL"
					/>
					<span
						class="text-red-500 text-xs top-full mt-1"
						th:if="${#fields.hasErrors('photoUrl')}"
						th:errors="*{photoUrl}"
					></span>
				</div>

				<div class="mb-6">
					<label
						for="description"
						class="text-gray-700"
						>Description:</label
					>
					<textarea
						id="description"
						name="description"
						th:field="*{description}"
						class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500 placeholder-gray-400 placeholder-opacity-50"
						placeholder="Enter club description"
					></textarea>
					<span
						class="text-red-500 text-xs top-full mt-1"
						th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}"
					></span>
				</div>

				<!-- ? Hidden input for the id, assuming it's set by the server -->
				<input
					type="hidden"
					th:field="*{id}"
				/>

				<input
					type="hidden"
					th:field="*{createdBy}"
				/>

				<button
					type="submit"
					class="w-full bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600 transition duration-300 ease-in-out transform hover:scale-105"
				>
					Create Club
				</button>
			</form>
		</div>
	</body>
</html>
