<!DOCTYPE html>

<html
	lang="en"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}"
>
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>clubs</title>
	</head>

	<body>
		<div
			layout:fragment="body"
			class="w-full"
		>
			<!--? Search Section -->
			<form
				th:action="@{/clubs/search}"
				class="search-group bg-gray-100 p-6 rounded-lg shadow-lg w-full"
			>
				<h1 class="text-3xl font-bold text-gray-800 mb-2">Find Clubs</h1>
				<h2 class="text-lg text-gray-600 mb-4">
					Groups of passionate people near you
				</h2>
				<input
					th:value="${param.query}"
					type="text"
					name="query"
					id="query"
					class="search-input w-2/6 px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
					placeholder="Search for clubs..."
				/>
				<button
					type="submit"
					class="bg-blue-500 text-white py-2 px-4 mt-4 rounded-md hover:bg-blue-600 transition duration-300 ease-in-out"
				>
					Search
				</button>
			</form>

			<!--? Clubs Section -->
			<div
				class="clubs grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 my-10 p-4"
			>
				<div
					th:each="club : ${clubs}"
					class="relative"
				>
					<div
						class="bg-white border border-gray-200 rounded-lg shadow-md transition-transform hover:scale-105"
					>
						<img
							th:src="@{${club.photoUrl}}"
							alt=""
							class="w-full h-36 object-cover rounded-t-md"
						/>
						<div class="p-4">
							<a
								th:text="${club.title}"
								th:href="@{/clubs/{clubId}(clubId=${club.id})}"
								class="text-lg font-bold text-gray-800 hover:text-blue-500 transition duration-300 ease-in-out block"
							></a>
							<p
								class="text-gray-600 my-2"
								th:text="${club.description}"
							></p>
							<div
								class="flex justify-center gap-4"
								th:if="${user.id} == ${club.createdBy.id}"
							>
								<a
									class="btn edit bg-blue-500 text-white p-2 rounded-xl hover:transition duration-300 ease-in-out transform hover:scale-105"
									th:href="@{/clubs/{clubId}/edit(clubId=${club.id})}"
								>
									<i class="fas fa-pencil-alt"></i> Edit
								</a>
								<form
									id="deleteForm"
									th:action="@{/clubs/{clubId}/delete(clubId=${club.id})}"
									method="post"
									style="display: inline"
								>
									<input
										type="hidden"
										name="_method"
										value="delete"
									/>
									<button
										type="submit"
										class="btn delete bg-red-500 text-white p-2 rounded-xl hover:transition duration-300 ease-in-out transform hover:scale-105"
									>
										<i class="fas fa-trash-alt"></i> Delete
									</button>
								</form>
								<a
									th:href="@{/events/{clubId}/new(clubId=${club.id})}"
									class="btn create-event bg-green-500 text-white p-2 rounded-xl hover:transition duration-300 ease-in-out transform hover:scale-105"
								>
									<i class="fas fa-plus"></i> Create Event
								</a>
							</div>
						</div>
					</div>
				</div>
				<div th:if="${clubs.isEmpty()}">
					<p class="text-gray-700">No clubs available</p>
				</div>
			</div>

			<!--? End Club's section -->

			<!--? ERROR MESSAGE BOX-->
			<div
				th:if="${error}"
				class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2"
				id="errorNotification"
			>
				<p th:text="${error}"></p>
				<button
					class="absolute top-0 bottom-0 right-0 px-4 py-3"
					onclick="closeErrorNotification()"
					onKeyPress="closeErrorNotification(event)"
					onKeyDown="closeErrorNotification(event)"
					onKeyUp="closeErrorNotification(event)"
				>
					<i class="fas fa-times-circle"></i>
				</button>
			</div>

			<script>
				// Close the error notification after 10 seconds
				setTimeout(() => {
					const errorNotification =
						document.getElementById("errorNotification");
					if (errorNotification) {
						errorNotification.style.display = "none";
					}
				}, 3000);

				// Function to close the error notification manually
				function closeErrorNotification() {
					const errorNotification =
						document.getElementById("errorNotification");
					if (errorNotification) {
						errorNotification.style.display = "none";
					}
				}
			</script>
		</div>
	</body>
</html>
