.container {
    padding: 10px 50px 50px 50px;

}

.search-group {
    padding: 20px;
    text-align: center;
}

.search-header {
    color: #161616;
    font-size: 24px;
    margin-bottom: 10px;
}

.search-subheader {
    color: #555;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 20px;
}

.search-input {
    width: calc(100% - 40px);
    border: 1px solid #b6b6b6;
    max-width: 400px;
    padding: 10px;

    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

.search-input:focus {
    outline: none;
    border-color: #007bff;
}


.clubs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.club-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--card-border);
    border-radius: 8px;
    padding: 20px;
    background-color: var(--card-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}


.club-container:hover {
    transform: scale(1.05);
}

.club-image {
    width: 200px;
    margin: 0 auto;
    height: 200px;
    display: block;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}


.club-title {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    font-size: 18px;
    display: block;
}

.club-title:hover {
    color: #007bff;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.btn {
    padding: 8px 12px;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.btn.edit {
    background-color: #3498db;
}

.btn.delete {
    background-color: #e74c3c;
}

.btn:hover {
    background-color: #555;
    /* Adjust the hover background color as needed */
}