<!DOCTYPE html>
<html
	lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}"
>
	<head>
		<title>Event Detail</title>
	</head>

	<body>
		<div
			layout:fragment="body"
			class=""
		>
			<!-- ? EVENT DETAILS -->
			<div
				class="flex flex-col w-full bg-white rounded-lg shadow-lg max-w-3xl mx-auto my-14 transform transition duration-300 hover:shadow-2xl"
			>
				<div class="w-full h-64 bg-top bg-cover rounded-t-lg"
				th:style="'background-image:url(' + @{${event.photoUrl}} + ');
				background-position: center; background-size: cover;'" >
			</div>
			<div class="flex flex-col md:flex-row">
				<div
					class="flex flex-col justify-around p-6 font-bold text-white bg-gradient-to-r from-purple-500 to-indigo-500 rounded-l-lg md:w-1/4 md:items-center md:justify-center"
				>
					<div
						class="text-3xl md:text-5xl"
						th:text="${#temporals.format(event.startTime, 'MMM')}"
					></div>
					<div
						class="text-5xl md:text-7xl"
						th:text="${#temporals.format(event.startTime, 'dd')}"
					></div>
					<div
						class="text-xl md:text-2xl"
						th:text="${#temporals.format(event.startTime, 'h a')}"
					></div>
				</div>
				<div class="p-6 font-normal text-gray-800 md:w-3/4">
					<h1
						class="mb-4 text-3xl md:text-4xl font-extrabold leading-none tracking-tight text-gray-900"
						th:text="${event.name}"
					></h1>
					<p
						class="leading-relaxed text-base md:text-lg mb-4"
						th:text="${event.content}"
					></p>
				</div>
				<div
					th:if="${user.username} == ${event.club.createdBy}"
					class="flex gap-2 p-4 md:p-2"
				>
					<div class="flex gap-2">
						<!-- ? Edit link -->
						<a
							th:href="@{/events/{eventId}/edit(eventId=${event.id})}"
							class="text-blue-500 flex items-center justify-center gap-1 hover:bg-blue-100 h-9 px-3 rounded transition duration-300 ease-in-out"
						>
							<i class="fas fa-pencil-alt"></i> Edit
						</a>
						<!-- ? Delete link -->
						<form
							id="deleteForm"
							th:action="@{/events/{eventId}/delete(eventId=${event.id})}"
							method="post"
							style="display: inline"
						>
							<button
								type="submit"
								class="text-red-500 flex items-center justify-center gap-1 hover:bg-red-100 h-9 px-3 rounded transition duration-300 ease-in-out"
							>
								<i class="fas fa-trash-alt"></i> Delete
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- ? END OF EVENT DETAILS -->

	</body>
</html>
