<!DOCTYPE html>
<html
	lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}"
>
	<head>
		<title>Event Detail</title>
	</head>

	<body>
		<div
			layout:fragment="body"
			class="max-w-md mx-auto bg-white shadow-lg rounded-lg mt-8 mb-9"
		>
			<h2
				class="text-center text-gray-700 mb-6 text-2xl font-bold tracking-wide capitalize border-b-2 border-gray-300 py-2"
			>
				Event Detail
			</h2>

			<div class="px-4 pb-6">
				<p><strong>Name:</strong> <span th:text="${event.name}"></span></p>
				<p>
					<strong>Content:</strong> <span th:text="${event.content}"></span>
				</p>
				<p>
					<strong>Start Time:</strong>
					<span th:text="${event.startTime}"></span>
				</p>
				<p>
					<strong>End Time:</strong> <span th:text="${event.endTime}"></span>
				</p>
				<p><strong>Type:</strong> <span th:text="${event.type}"></span></p>
				<p>
					<strong>Photo URL:</strong> <span th:text="${event.photoUrl}"></span>
				</p>
				<p>
					<strong>Created At:</strong>
					<span th:text="${event.createdAt}"></span>
				</p>
				<p>
					<strong>Updated At:</strong>
					<span th:text="${event.updatedAt}"></span>
				</p>
				<p>
					<strong>Club:</strong> <span th:text="${event.club.title}"></span>
				</p>
				<!-- Assuming club name is accessible -->

				<div th:if="${user.username} == ${event.club.createdBy}">
					<!-- Edit link -->
					<a
						th:href="@{/events/{eventId}/edit(eventId=${event.id})}"
						class="text-blue-500 mr-2"
						>Edit</a
					>

					<!-- Delete link -->
					<form
						id="deleteForm"
						th:action="@{/events/{eventId}/delete(eventId=${event.id})}"
						method="post"
						style="display: inline"
					>
						<input
							type="hidden"
							name="_method"
							value="delete"
						/>
						<button
							type="submit"
							class="btn delete bg-red-500 text-white py-2 px-4 rounded-md hover:bg-red-600 transition duration-300 ease-in-out transform hover:scale-105"
						>
							Delete
						</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
