<!DOCTYPE html>
<html
	lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}"
>
	<head>
		<title>Event Detail</title>
	</head>

	<body>
		<div
			layout:fragment="body"
			class=""
		>
			<!-- ? EVENT DETAILS -->

			<div
				class="flex flex-col w-full bg-white rounded shadow-lg max-w-xl mx-auto m-14"
			>
				<div class="flex flex-col w-full md:flex-row">
					<div
						class="flex flex-row justify-around p-4 font-bold leading-none text-gray-800 uppercase bg-gray-400 rounded md:flex-col md:items-center md:justify-center md:w-1/4"
					>
						<div
							class="md:text-3xl"
							th:text="${#temporals.format(event.startTime, 'MMM')}"
						></div>
						<div
							class="md:text-6xl"
							th:text="${#temporals.format(event.startTime, 'dd')}"
						></div>
						<div
							class="md:text-xl"
							th:text="${#temporals.format(event.startTime, 'h a')}"
						></div>
					</div>
					<div class="p-4 font-normal text-gray-800 md:w-3/4">
						<h1
							class="mb-4 text-4xl font-bold leading-none tracking-tight text-gray-800"
							th:text="${event.name}"
						>
							Event Name
						</h1>
						<p
							class="leading-normal"
							th:text="${event.content}"
						>
							Event Description
						</p>
					</div>
					<div
						th:if="${user.username} == ${event.club.createdBy}"
						class="flex gap-2 p-1"
					>
						<div class="flex gap-2">
							<!-- ? Edit link -->
							<a
								th:href="@{/events/{eventId}/edit(eventId=${event.id})}"
								class="text-blue-500 flex items-center justify-center gap-1 hover:bg-gray-200 h-9 p-1 rounded"
							>
								<i class="fas fa-pencil-alt"></i> Edit
							</a>

							<!-- ? Delete link -->
							<form
								id="deleteForm"
								th:action="@{/events/{eventId}/delete(eventId=${event.id})}"
								method="post"
								style="display: inline"
							>
								<form
									id="deleteForm"
									th:action="@{/events/{eventId}/delete(eventId=${event.id})}"
									method="post"
									style="display: inline"
								>
									<button
										type="submit"
										class="text-red-500 flex items-center justify-center gap-1 hover:bg-gray-200 h-9 p-1 rounded"
									>
										<i class="fas fa-trash-alt"></i> Delete
									</button>
								</form>
							</form>
						</div>
					</div>
				</div>
				<div
					class="w-full h-64 bg-top bg-cover rounded-t"
					th:style="'background-image:url(' + @{${event.photoUrl}} + '); background-repeat: no-repeat, repeat; background-size: contain;'"
				></div>
			</div>
			<!-- ? END OF EVENT DETAILS-->
		</div>
	</body>
</html>
