<!DOCTYPE html>
<html
	lang="en"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}"
>
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Events</title>
		<link
			rel="stylesheet"
			th:href="@{/css/events-list.css}"
		/>
	</head>

	<body>
		<div
			layout:fragment="body"
			class="mx-auto pb-8"
		>
			<!-- ? Search Form Section -->
			<form
				th:action="@{/events/search}"
				class="search-group bg-gray-100 p-6 rounded-lg shadow-lg mb-8"
			>
				<h1 class="text-3xl font-bold text-gray-800 mb-2">Find Events</h1>
				<h2 class="text-lg text-gray-600 mb-4">Explore events near you</h2>
				<input
					th:value="${param.query}"
					type="text"
					name="query"
					id="query"
					class="w-2/6 px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent placeholder-gray-400 placeholder-opacity-50"
					placeholder="Search for events..."
				/>
				<button
					type="submit"
					class="bg-blue-500 text-white py-2 px-4 mt-4 rounded-md hover:bg-blue-600 transition duration-300 ease-in-out"
				>
					Search
				</button>
			</form>

			<!-- ? Events Section -->
			<div
				class="events grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 my-10 p-4"
			>
				<div
					th:each="event : ${events}"
					class="relative"
				>
					<div
						class="bg-white border border-gray-200 rounded-lg shadow-md transition-transform hover:scale-105"
					>
						<img
							th:src="@{${event.photoUrl}}"
							alt=""
							class="w-full h-36 object-cover rounded-t-md"
						/>
						<div class="p-4">
							<a
								th:text="${event.name}"
								th:href="@{/events/{eventId}(eventId=${event.id})}"
								class="text-lg font-bold text-gray-800 hover:text-blue-500 transition duration-300 ease-in-out block"
							></a>
							<p
								class="text-gray-700 my-2"
								th:text="${event.content}"
							></p>
							<div class="flex justify-center gap-4">
								<p class="text-gray-600">
									Club Title: <span th:text="${event.club.title}"></span>
								</p>
							</div>
							<div th:if="${user.username == event.club.createdBy}">
								<div class="flex justify-center mt-4 gap-1">
									<a
										th:href="@{/events/{eventId}/edit(eventId=${event.id})}"
										class="btn edit bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition duration-300 ease-in-out transform hover:scale-105"
									>
										<i class="fas fa-pencil-alt"></i> Edit</a
									>
									<form
										id="deleteForm"
										th:action="@{/events/{eventId}/delete(eventId=${event.id})}"
										method="post"
										style="display: inline"
									>
										<input
											type="hidden"
											name="_method"
											value="delete"
										/>
										<button
											type="submit"
											class="btn delete bg-red-500 text-white py-2 px-4 rounded-md hover:bg-red-600 transition duration-300 ease-in-out transform hover:scale-105"
										>
											<i class="fas fa-trash-alt"></i> Delete
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div th:if="${events.isEmpty()}">
					<p class="text-gray-700">No events available</p>
				</div>
			</div>
			<!-- ? End Events Section -->

			<!-- ? ERROR MESSAGE BOX-->
			<div
				th:if="${error}"
				class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2"
				id="errorNotification"
			>
				<p th:text="${error}"></p>
				<button
					class="absolute top-0 bottom-0 right-0 px-4 py-3"
					onclick="closeErrorNotification()"
					onKeyPress="closeErrorNotification(event)"
					onKeyDown="closeErrorNotification(event)"
					onKeyUp="closeErrorNotification(event)"
				>
					<i class="fas fa-times-circle"></i>
				</button>
			</div>

			<script>
				// Close the error notification after 10 seconds
				setTimeout(() => {
					const errorNotification =
						document.getElementById("errorNotification");
					if (errorNotification) {
						errorNotification.style.display = "none";
					}
				}, 3000);

				// Function to close the error notification manually
				function closeErrorNotification() {
					const errorNotification =
						document.getElementById("errorNotification");
					if (errorNotification) {
						errorNotification.style.display = "none";
					}
				}
			</script>
		</div>
	</body>
</html>
